<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://gitcdn.link/repo/Chalarangelo/mini.css/master/dist/mini-pwa.min.css">
    <!-- <link rel="stylesheet" href="https://gitcdn.link/repo/Chalarangelo/mini.css/master/dist/mini-default.min.css"> -->
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/mainpage.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script>
      $(document).ready( function() {
          $('#next').click(function() {
             $.ajax("{{ url_for('wayne') }}").done(function (reply) {
                $('#container').html(reply);
             });
          });
      });
    </script>
  </head>
  <body>   
    <h1>APRA W-1000</h1>
    <div id = "panel">
      <img id="wayne-img" src="{{url_for('static', filename='img/wayne.png')}}" />
      </br>
      <input type="button" id="next" value="Respond to Senate" />
    </div>
    <div id="container"></div>
  </body>
</html>
