

body { 
  max-width: 900px; 
  margin: auto; 
  vertical-align: middle;
}

/*h1 {
    font-size: 8vw;
}

p {
  font-size: 4vw;
}*/

#wayne-img {
  text-align: center;
  margin: auto;
  /*max-width: 200px;*/
  max-width: 20%;
}

#panel {
  text-align: center;
  margin:auto;
}

#container {
  padding: 10px;
  background-color: #fcfcfc;
}
