


body { 
  max-width: 900px; 
  margin: auto; 
  vertical-align: middle;
}

#wayne-img {
  text-align: center;
  margin: auto;
  margin-top: 20px;
  max-width: 180px;
  /*max-width: 20%;*/
}

#panel {
  text-align: center;
  margin:auto;
}

#container {
  margin-top: 20px;
  padding: 10px;
  background-color: #fcfcfc;
  border-radius: 15px;
}
